.marquee {
  background: url('./Binary2.jpg');
  -webkit-animation: marquee 25s infinite linear;
  margin: 0px;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 600px;
  position: absolute;
  margin-top: -20px;
  z-index: 0;
}
.title{
  font-size: 100px;
  text-align: center;
  padding-top: 150px;
}
 h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 35px;
}
@-webkit-keyframes marquee {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -1190px;
  }
}
body{
  color: #d3d3d3;
  background-color: gray;
}
.content1{
  height: 400px;
  background-color: rgb(139, 139, 139);
}
.content2{
  height: 400px;
  background-color:rgb(119, 119, 119);
}
#topSpace{
  margin-top: 590px
}
.contentText{
  padding-top: 50px;
  width: 60%;
  margin-left: 50px;
  font-size: 12pt
}
.heading{
  text-align: left;
  padding-top: 50px;
  margin-left: 50px;
}
.contentText1{
  text-align: right;
  float: right;
  padding-top: 50px;
  width: 60%;
  margin-right: 50px;
  font-size: 12pt;
}
.heading1{
  text-align: right;
  padding-top: 50px;
  margin-right: 50px;
}
.stubbornBoi{
  margin-top: -180px;
  /* margin-bottom: 200px; */
  padding-left: 100px;
  padding-right: 100px;
}
#imageFix{
  float: left;
  margin-left: -500px;
  margin-top: -160px;
  cursor: pointer;
}
#modalImage{
  width: 600px;
  height: auto;
}
#imageFix2{
  margin-bottom: -150px;
  margin-top: -50px;
}
#imageFix3{
  margin-right: -500px;
  margin-left: 500px;
  margin-bottom: -200;
  margin-top: 200;
}
/*
linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(255,255,255, 10)
  ),url('./Binary.jpeg');
*/