.gridContainer{
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
.stupidDiv{
    margin-top: 15px;
}
body{
    margin-top: 50px;
}
.contentImage{
    width: 217pt;
    margin-left: -10pt;
}
.spacing{
    margin-left: 50px;
}
