body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background-color: #bebebe;
    
}

p {
    margin: 10px;
}
#nav-bar {
    padding: 5px;
    color: white;
    background-color: grey;
}

#profile-container {
    padding-left: 5%;
    padding-right: -5%;

}

.profile {
    text-align: center;
}


