body {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background-color: #111010;
    color: rgb(170, 165, 165);
    
}

.profile {
    background-color: #999;
}

#nav-bar {
    color: white;
}