#tools {
    margin: auto;
    padding: 10px;
    color: #d3d3d3;
    text-align: center;
}


.image {
    text-align: center;
}

.header {
    color: black;
    
}

body {
    color: #d3d3d3;
    background-color: #303030;
}

#card-container .card {
background-color: #b9b9b9;
}

#languages {
    padding: 40px;
}

#languages h1{
    padding: 20px;
    color: white;
}
#languages a {
    color: white;
} 

#languages a:hover {
    color: rgb(167, 167, 167);
}

#languages ul {
    max-width: 100px;
}